body {
	font: 20px Montserrat, sans-serif;
	line-height: 1.8;
	color: #f5f6f7;
}

p {
	font-size: 16px;
}

.margin {
	margin-bottom: 45px;
}

.bg-1 { 
	background-color: white; 
	color: black;
}

.bg-2 { 
	background-color: #474e5d; /* Dark Blue */
	color: #ffffff;
}

.bg-3 { 
	background-color: #ffffff; /* White */
	color: #555555;
}

.bg-4 { 
	background-color: #474e5d; 
	color: #fff;
}

.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}

.container-fluid-body{
	padding-top: 25px;
	padding-bottom: 25px;
}

.container-fluid-footer {
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 5px;
}

.navbar-nav  li a:hover {
	color: #1abc9c !important;
}

.content-div {
	margin-left: 10%;
	margin-right: 10%;
}
.socialLinks a:hover {
	color: #1abc9c !important;
}
	
.flip-card-back {
  	display:none;
}

.anim-typewriter {
	animation: typewriter 5s steps(40) 1s 1 normal both,
	blinkTextCursor 500ms steps(40) 5s normal both;
}

@keyframes typewriter {
	from {
		width:0;
	}
	to {
		width:9em;
	}
}

@keyframes blinkTextCursor {
	from {
		border-right-color:#212529;
	}
	to {
		border-right-color: white;
	}
}

.line {
	margin: 0 auto;
    margin-top: 2%;
    white-space: nowrap;
    overflow: hidden;
	border-right: 2px solid #212529;
	width: 9em;
	font-size: 30px;
}
